<meta charset="UTF-8" />
<link rel="icon" href="https://github.com/omardotdev.png?size=256" />
<meta name="viewport" content="width=device-width" />
<meta property="og:title" content="Omar's website" />
<meta property="og:description" content="my own personal website :3" />
<meta property="og:image" content="https://github.com/omardotdev.png?size=256"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Omar's website" />
<meta name="twitter:description" content="my own personal website :3" />
<meta name="generator" content={Astro.generator} />
<meta name="darkreader-lock">
<title>Omar</title>
