<div class="navbar">
    <a href="/" class="navbar_button ">Home</a>
</div>

<style>
    .navbar {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        padding-top: 18px;
    }

    .navbar .navbar_button {
        color: #e0def4;
        border: 1px solid #524f67;
        padding: 8px 18px 8px 18px;
        border-radius: 5px;
        text-decoration: none;
    }

    .selected {
        background-color: rgb(46, 52, 64);
    }
</style>
